@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2b1055, #7579de);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header a.logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover, header ul li a.active{
    background: #fff;
    color: #655f6f;
}
#text{
    position: absolute;
    right: -350;
    color: #fff;
    white-space: nowrap;
    font-size: 4.7vw;
    z-index: 11;
}
/*-------------------------Matematicos----------------------*/
section.Ubicacion2{
    position: relative;
    float:right;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    background: #2a1055a6;
}
div.Ubicacion1{
    position: relative;
    top: 0px;
}
.swiper-container{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide{
    text-decoration: none;
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 400px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.611);
    border-radius: 10px;
}
.swiper-slide-active{
    background: linear-gradient(#2a1055, #7579de);
}
.Matematicos{
    position: relative;
    width: 100%;
    padding: 10px;
    padding-top: 90px;
    color: #fff;
    border: 5px solid #ffff;
    border-radius: 10px;
}
.Matematicos .content img{
    left: 35px;
    top: -50px;
    width: 220px;
    height: 210px;
    position: relative;
    border: 5px solid #ffff;
    border-radius: 50%;
}
.Matematicos .details{
    background: #2a10559c;
    position: relative;
    display: flex;
    align-items: center;
    top: -30px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
}
.Matematicos .details h3{
    position: relative;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.1em;
}
.Matematicos .details span{
    position: relative;
    font-size: 20px;
}

.swiper-container .swiper-slide .shadow-left,.swiper-container .swiper-slide .shadow-right{
    background-image: none;
}
.sec{
    position: relative;
    padding: 100px;
    background: #1c0522;
    color: #fff;
}
.sec h2{
    text-align: center;
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec p{
    font-size: 1.2em;
    color: #fff;
}
.subtitulo{
    font-size: 25px;
}
.ImagenesL{
    float: left;
    margin-right: 20px;
}
.ImagenesR{
    float: right;
    margin-left: 20px;
}
/*---------------------------Fondo-----------------------*/
section.fondo{
    position:relative;
    top: 0%;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.fondo::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522,transparent);
    z-index: 100;
}
section.fondo img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section.fondo img#moon{
    mix-blend-mode: screen;
}
section.fondo img#mountains_front{
    z-index: 10;
}
.Inicio{
    top: 85%;
    left: 91%;
    position: fixed;
    width: 80px;
    height: 80px;
    color: rgb(0, 0, 0);
    background: #3e0078;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 50%;
    z-index: 1010;
}
.Inicio i{
    position: relative;
    top: 12px;
}
/*-------------------Footer----------------*/
footer{
    top: -5px;
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    border: 6px solid #999;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container .sec2{
    margin-right: 30px;
}
footer .container .sec2{
    width: 40%;
    color: #fff;
}
footer .container .sec2 h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container h2:before{
    content: '';
    position: relative;
    bottom: -5px;
    left: 0;
    width: 103px;
    border-radius: 10px;
    height: 5px;
    background: #451a8c;
}
footer p{
    color: white;
}
.redes{
    margin-top: 20px;
    display: flex;
}
.redes li{
    list-style: none;
}
.redes li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.redes li a:hover{
    background: #2b1055;
}
.redes li a .fab{
    color: #fff;
    font-size: 20px;
}
.links{
    position: relative;
    width: 25%;
}
.links ul li{
    list-style: none;
}
.links ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.links ul li a{
    color: #fff;
}
.contacto{
    align-items: center;
    color: #999;
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contacto .info{
    position: relative;
}
.contacto .info li{
    display: flex;
    margin-bottom: 16px;
}
.contacto .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contacto .info li span{
    color: #999;
}
.contacto .info li span a{
    color: #fff;
    text-decoration: none;
}
.contacto .info li span a:hover{
    color: #fff;
}
.copyright{
    border: 10px solid #999;
    border-radius: 15px;
    position: relative;
    top: 30px;
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #fff;
}
